<div class="container pt-5">
    <h1>Editer un potin</h1>

    <%# ALERTE %>
    <% flash.each do |type, msg| %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
    <% end %>

    <%# FORMULAIRE %>
    <%= form_for @gossip do |f| %>
        <div class="form-group mt-3">
            <label>Titre</label>
            <%= f.text_field :title, required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
            <label>Contenu</label>
            <%= f.text_area :content, required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    <% end %>
</div>