<div class="container pt-5">
    <h1>Contact</h1>
    <p class="mt-3">Le Corre - Bord Inc.</p>
    <p>23 rue du sillon</p>
    <p>35000 Rennes</p>
    <div class="mt-3">
        <%= link_to "Accueil", gossips_path, class: "btn btn-primary" %>
    </div>
</div>
