<div class="container pt-5">
    <h1>L'équipe</h1>
    <p class="mt-3">L'équipe se compose de :</p>
    <ul class="list-group">
        <li class="list-group-item">Erwan Le Corre</li>
        <li class="list-group-item">Pierre-henri Bord</li>
    </ul>
    <div class="mt-3">
        <%= link_to "Accueil", gossips_path, class: "btn btn-primary" %>
    </div>
</div>
